body {
  margin: 0;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
